<h3><i class="fa fa-hand-o-right pointer"></i>{{$state.current.title}}</h3>
<div class="panel panel-default" cg-busy="listBusyPromise">
	<div class="panel-footer">
		<div class="row">
			<div class="col-lg-9">
				<form role="form" class="form-inline" ng-submit="fetchData()">
					<div class="form-group multiline">
						<label for="input-status">券类型：</label>
						<select id="input-status" ng-change="fetchData()" ng-model='searchOption.couponType' class="form-control" ng-options='a.Id as a.Name for a in ticketSlect'>
						</select>
					</div>
					<div class="form-group multiline">
						<label for="input-status">状态：</label>
						<select id="input-status" ng-change="fetchData()" ng-model='searchOption.reviewState' class="form-control" ng-options='a.Id as a.Name for a in statusSlect'>
						</select>
					</div>
					<div class="form-group multiline">
						<label for="input-keyword">时间：</label>
						<input type="datetime" ng-model="searchOption.startAt" placeholder="开始时间" class="form-control" id="startAttime" />&nbsp;-&nbsp;
						<input type="datetime" ng-model="searchOption.endAt" placeholder="结束时间" class="form-control" id="endAtAttime" />
					</div>
					<div class="form-group multiline">
						<label for="input-keyword" class="sr-only">关键字：</label>
						<input id="input-keyword" type="text" ng-model="searchOption.value" placeholder="请输入商品名称" class="form-control inputIn" />
					</div>
					<div class="form-group multiline">
						<button type="submit" class="btn btn-default">查询</button>
					</div>
				</form>

			</div>
			<div class="col-lg-3 pull-right text-right" ng-if="jurisdiction.add">
				<button type="button" ng-click="creatOne()" class="btn btn-success ng-binding">新 增</button>

			</div>

		</div>
	</div>
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover  table-striped">
			<thead>
				<tr>
					<th>
						<div class="checkbox c-checkbox">
							<label class="ng-binding">
								<input name="chkAll" type="checkbox" ng-model="CheckAllText" ng-change="checkAll(list)" />
								<span class="fa fa-check"></span> 全选
							</label>
						</div>
					</th>
					<th>序号</th>
					<th>名称</th>
					<th>券类型</th>
					<th>店铺</th>
					<th>状态</th>
					<th>添加人</th>
					<th>时间</th>
					<th class="text-center">操作</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-if="!list||list.length===0">
					<td colspan="20">暂无任何数据！</td>
				</tr>
				<tr ng-repeat="x in list">
					<td>
						<div class="checkbox c-checkbox">
							<label class="ng-binding">
								<input type="checkbox" name="audit" ng-model="x.Checked" ng-change="checkOne(list)" />
								<span class="fa fa-check"></span>
							</label>
						</div>
					</td>
					<td>{{$index+1}}</td>
					<td class="td-hiddens-name" title="{{x.Name}}">{{x.Name}}</td>
					<td>{{numberToText(x.CouponType,ticketCategoryCodes)}}</td>
					<td class="td-hidden" title="{{x.ShopName}}">{{x.ShopName}}</td>
					<td ng-class="statusClass(x.ReviewState)">{{numberToText(x.ReviewState,statusSlect)}}</td>
					<td class="td-hidden" title="{{x.ShopMemberNickName}}">{{x.ShopMemberNickName}}</td>
					<td>{{x.CreatedAt|date:"yyyy-MM-dd HH:mm"}}</td>
					<td>
						<!--ReviewState:1待审核 ，2 已通过,3未通过,4未提交-->
						<!--<button ng-if="jurisdiction.cancel" ng-if="x.ReviewState==1" type="button" ng-click="cancelItem(x)" class="btn btn-default">撤销</button>
						<button ng-if="jurisdiction.edit" type="button" ng-click="editorItem(x)" class="btn btn-primary">修改</button>
						
						-->
						<button type="button" ng-click="deleteItem(x)" ng-if="jurisdiction.delete" class="btn  btn-danger">删除</button>
						<!--<button ng-if="(x.ReviewState===1 || x.ReviewState ===4) && jurisdiction.toggle" type="button" ng-click="toggleItem(x)" class="btn " ng-class="isToggle(x)" ng-bind="toggleText(x)"></button>
						-->
						<button ng-if="x.ReviewState!==1 || x.ReviewState!==2" type="button" ng-click="editorItem(x)" class="btn btn-primary">修改</button>
						<button type="button" ng-click="seeDetail(x)" class="btn btn-default">详情</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-footer" ng-if="jurisdiction.delete">
			<button type="button" ng-click="deleteAll()" class="btn btn-danger ng-binding">批量删除</button>
		</div>
	</div>

	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-lg-12 text-center">
				<paging page="pagination.page" page-size="pagination.pageSize" total="pagination.total" show-prev-next="true" show-first-last="true" paging-action="getListSpecifyPage(page,pageSize,total)">
				</paging>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->
<!--新增-->
<script type="text/ng-template" id="_createOne">
	<div class="modal-header">
		<h5 class="modal-title">{{TitleText}}</h5>
	</div>
	<div class="modal-body" cg-busy="ngDialogPromise">
		<!--<div class="formlist" fields-data="fieldsList" close-dialog="closeThisDialog(0)" form-submit="formSubmit()"></div>-->
		<form class="form-horizontal mycheckbox-inline" form-submit="formSubmit()">
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">名称</label>
				<div class="col-lg-10">
					<input type="text" ng-model="commodity.Name" class="form-control" required placeholder="请输入商品名称" maxlength="30" />
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-4">范围</label>
				<div class="col-lg-8">
					<select class="form-control" ng-model="commodity.Range" ng-options="x.Id as x.Name for x in RangeSelect"></select>
				</div>
			</div>
			<!--<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">积分</label>
				<div class=" col-lg-10">
					<input type="text" ng-model="commodity.PointNum" class="form-control" required />
				</div>
			</div>-->
			<!--<div class="form-group col-lg-5">
				<label class="control-label col-lg-4">每人限购数量</label>
				<div class=" col-lg-8 form-inline">
					<input type="text" ng-model="commodity.SuperpositionNum" class="form-control half-width" required />&nbsp;&nbsp;&nbsp;<span class="add-on" style="color: #f60;font-size: 12px;">顾客限购数量</span>
				</div>
			</div>-->
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">库存</label>
				<div class=" col-lg-10">
					<input type="text" ng-model="commodity.RepositoryCount" class="form-control" required />
				</div>
			</div>
			<!--<div class="form-group col-lg-6">
				<label class="control-label col-lg-4">每日发放量</label>
				<div class=" col-lg-8">
					<input type="text" ng-model="commodity.paymentCount" class="form-control" required />
				</div>
			</div>-->
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-4">券类型</label>
				<div class="col-lg-8">
					<select class="form-control" ng-model="commodity.CouponType" ng-change="selectCouponType(commodity.CouponType)" ng-options="x.Id as x.Name for x in ticketCategoryCodes"></select>
				</div>
			</div>
			<div class="form-group col-lg-6" ng-show="showWorth">
				<label class="control-label col-lg-4">价格</label>
				<div class=" col-lg-8 new-input-border">
					<input type="text" ng-model="commodity.Worth" class="form-control " required />
				</div>
			</div>
			<div class="form-group col-lg-12">
				<label class="control-label col-lg-1">有效期</label>
				<div class=" col-lg-11 one-columu" id="usTime">
					<div class="form-inline" ng-if="commodity.Type==='2'">
						<input ng-model="commodity.StartAt" type="text" class="form-control" id="startTime" placeholder="开始时间" /> &nbsp;-&nbsp;
						<input ng-model="commodity.EndAt" type="text" class="form-control" id="endTime" placeholder="结束时间" />
					</div>
				</div>
			</div>

			<div class="clearfix">

			</div>
			<div class="form-group">
				<label class="control-label col-lg-1">商品图片</label>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadOne(url)" ng-disabled="editing" default-url="{{commodity.ImagesOne}}"></image-file-uploader>
				</div>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadTwo(url)" ng-disabled="editing" default-url="{{commodity.ImagesTwo}}"></image-file-uploader>
				</div>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadThree(url)" ng-disabled="editing" default-url="{{commodity.ImagesThree}}"></image-file-uploader>
				</div>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadFour(url)" ng-disabled="editing" default-url="{{commodity.ImagesFour}}"></image-file-uploader>
				</div>
				<div class="col-lg-2 upImg" style="vertical-align: bottom;height: 80px; color: #f60;font-size: 12px;padding-top: 60px;line-height: 20px;">建议上传图片比例1:1</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-1">描述</label>
				<div class="col-lg-11 one-columu">
					<textarea class="form-control" ng-model="commodity.Describe"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class=" col-lg-10 col-lg-offset-1">
					<input type="button" class="btn btn-success" ng-click="formSubmit()" value="确定" />
					<input type="button" ng-click="closeThisDialog()" class="btn btn-default" value="取消" />
				</div>
			</div>
		</form>
	</div>
</script>
<!--修改-->
<script type="text/ng-template" id="createTwo">
	<div class="modal-header">
		<h5 class="modal-title">修改商品信息</h5>
	</div>
	<div class="modal-body" cg-busy="ngDialogPromise">
		<!--<div class="formlist" fields-data="fieldsList" close-dialog="closeThisDialog(0)" form-submit="formSubmit()"></div>-->
		<form class="form-horizontal mycheckbox-inline" form-submit="formSubmit()">
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">名称</label>
				<div class="col-lg-10">
					<input type="text" ng-model="editorData.Name" class="form-control" required placeholder="请输入商品名称" maxlength="30" />
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-4">范围</label>
				<div class="col-lg-8">
					<select class="form-control" ng-model="editorData.Range" ng-options="x.Id as x.Name for x in RangeSelect"></select>
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">积分</label>
				<div class=" col-lg-10">
					<input type="text" ng-model="editorData.PointNum" class="form-control" required />
				</div>
			</div>
			<!--<div class="form-group col-lg-6">
				<label class="control-label col-lg-4">兑换数量</label>
				<div class=" col-lg-4">
					<input type="text" ng-model="editorData.SuperpositionNum" class="form-control" required /><span class="pay-span">顾客购买量</span>
				</div>
			</div>-->
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">库存</label>
				<div class=" col-lg-10">
					<input type="text" ng-model="editorData.inventory" class="form-control" required />
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-4">每日发放量</label>
				<div class=" col-lg-8">
					<input type="text" ng-model="editorData.paymentCount" class="form-control" required />
				</div>
			</div>

			<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">券类型</label>
				<div class="col-lg-10">
					<select class="form-control" ng-model="editorData.CouponType" ng-change="selectCouponType(editorData.CouponType)" ng-options="x.Id as x.Name for x in ticketCategoryCodes"></select>
				</div>
			</div>
			<div class="form-group col-lg-6" ng-show="showWorth">
				<label class="control-label col-lg-4">价格</label>
				<div class=" col-lg-8 new-input-border">
					<input type="text" ng-model="editorData.Worth" class="form-control" required />
				</div>
			</div>
			<div class="col-lg-12">
				<label class="control-label col-lg-4">&nbsp;</label>

			</div>
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-2">方式</label>
				<div class=" col-lg-10">
					<div class="form-inline">
						<label class="checkbox-inline">
							<input name="types" type="radio" ng-model="editorData.Type" value="2" /> 活动商品
						</label>
					</div>
				</div>
			</div>
			<div class="form-group col-lg-6">
				<label class="control-label col-lg-4">&nbsp;</label>
				<div class=" col-lg-8">
					&nbsp;
				</div>
			</div>
			<div class="form-group col-lg-12" id="Time-range">
				<label class="control-label col-lg-1">有效期</label>
				<div class=" col-lg-11 one-columu" id="usTime">
					<div class="form-inline">
						<input ng-model="editorData.StartAt" type="text" class="form-control" id="startTime" /> &nbsp;-&nbsp;
						<input ng-model="editorData.EndAt" type="text" class="form-control" id="endTime" />
					</div>
				</div>
			</div>

			<div class="clearfix">

			</div>
			<div class="form-group">
				<label class="control-label col-lg-1">商品图片</label>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadOne(2,url)" ng-disabled="editing" default-url="{{editorData.ImagesOne}}"></image-file-uploader>
				</div>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadTwo(2,url)" ng-disabled="editing" default-url="{{editorData.ImagesTwo}}"></image-file-uploader>
				</div>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadThree(2,url)" ng-disabled="editing" default-url="{{editorData.ImagesThree}}"></image-file-uploader>
				</div>
				<div class="col-lg-2 upImg">
					<image-file-uploader uif-callback="configImageAfterUploadFour(2,url)" ng-disabled="editing" default-url="{{editorData.ImagesFour}}"></image-file-uploader>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-1">描述</label>
				<div class="col-lg-11 one-columu">
					<textarea class="form-control" ng-model="editorData.Describe"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class=" col-lg-10 col-lg-offset-2">
					<input type="button" class="btn btn-success" ng-click="formSubmit()" value="确定" />
					<input type="button" ng-click="closeThisDialog()" class="btn btn-default" value="取消" />
				</div>
			</div>
		</form>
	</div>
</script>