<h3><i class="fa fa-map-marker"></i>{{$state.current.title}}
	<div class="talentEdit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
</h3>
<div class="panel panel-default" cg-busy="listBusyPromise">
	<div class="panel-footer">
					<div class="table infomation-table aboutus row">
						<div class="about-two">
							<span>
								 四川人才智造网是根据十九大报告提出，“推动我国由人才大国迈向人才强国”，这一目标具有强烈的针对性和指导性而创建的。

								我们过去在人才建设中，有一个很不好的倾向，片面追求人才总量，不注重人才质量、结构和效益问题，造成了我们国家人才“虚胖”现象严重，这个问题必须引起足够重视。由人才大国迈向人才强国，由“大”变“强”，一字之差，体现了我国人才发展目标由“量”到“质”的重大飞跃。

								世界人才强国，必须具备“五个力”：即人才综合实力，科技人才创新力，技能人才竞争力，人才贡献力，文化软实力。这“五个力”的发展水平，都与世界人才强国建设息息相关。从目前情况看，虽然我们在数量上有一定优势，但离“五个力”的差距很大。

      							在人才教育实力方面，2010年，我国人才总量是1.2亿，居世界第一。但是在主要劳动年龄人口中，受过高等教育人员的比例仅12.5%，而发达国家一般都在30-60%之间，中国仍处在世界中下水平。

								在科技人才工作创新力方面，2010年，我国每万劳动力中的研发人员33.6人，而发达国家一般都在80-120人，芬兰、瑞典高达240人之多。据国内专家研究，在世界最新的科学技术中，美国占了80%,而中国仅占1-2%，是

							</span>
							<span class="logo-span">
								<img src="img/u6497.png" alt="" />
							</span>
							<div class="footer-two">
								<p>
									<span class="title-tag">负责人：</span>
									<span>任大大</span>
								</p>
								<p>
									<span class="title-tag">联系电话：</span>
									<span>028-5567238    028-55237262</span>
								</p>
								<p>
									<span class="title-tag">投递邮箱：</span>
									<span>1291723707@qq.com</span>
								</p>
								<p>
									<span class="title-tag">地址：</span>
									<span>四川省成都市高新区益州大道天赋一街172号中航国际13栋1901-1908</span>
								</p>
							</div>

						</div>
					</div>
		</div>
</div>