<h3><i class="fa fa-map-marker"></i>{{$state.current.title}}</h3>
<div class="panel panel-default" ng-controller="PasswordModifyCtrl" cg-busy="listBusyPromise">
	<div class="panel-footer">
		<div class="row rownew" ng-repeat="x in list">
			<div class="form-group  col-lg-5">
				<div class="form-group-div divLeft">账号:</div>
				<span title="{{x.AccountName}}">{{PcService.subStrDescribe(x.AccountName)}}</span>
			</div>
			<div class="form-group col-lg-7">
				<div class="form-group-div divLeft">角色:</div>
				<span title="{{x.RoleName}}">{{PcService.subStrDescribe(x.RoleName)}}</span>
			</div>
			<div class="form-group col-lg-5">
				<div class="form-group-div divLeft">姓名:</div>
				<span title="{{x.UserName}}">{{PcService.subStrDescribe(x.UserName)}}</span>
			</div>
			<div class="form-group col-lg-7">
				<div class="form-group-div divLeft">所属店铺:</div>
				<span title="{{x.ShopName}}">{{PcService.subStrDescribe(x.ShopName)}}</span>
			</div>
		</div>
		<div class="hengxian"></div>
		<!--经营范围-->
		<!-- <form role="form" class="form-inline" ng-submit="fetchData()"> -->
		<div class="row rownew row-line row-right">
			<div class="form-group multiline ">
				<div class="form-group-div divRight">原密码：</div>
				<input id="input-keyword" type="password" ng-model="searchOption.oldpassword" class="form-control inputIn inputPlay" />
			</div>
			<div class="form-group multiline ">
				<div class="form-group-div divRight">新密码：</div>
				<input id="input-keyword" type="password" ng-model="searchOption.newpassword" class="form-control inputIn inputPlay" />
			</div>
			<div class="form-group multiline ">
				<div class="form-group-div divRight">确认密码：</div>
				<input id="input-keyword" type="password" ng-model="surepassword" class="form-control inputIn inputPlay" />
			</div>
			
			<div class="form-group multiline " style="color:#bbb2b2">
				<div class="form-group-div divRight">注意：</div>
				<span>修改密码后仅适用于商家登录，不影响居民端登录</span>
			</div>
		</div>

		<!-- 取消确定 -->
		<div class="form-group buttonBottom" style="padding-left: 170px;text-align: left!important;" ng-if="jurisdiction.edit">
			<button type="button" ng-click="sureBtnPassword()" class="btn btn-success ng-binding">确定</button>&nbsp;&nbsp;&nbsp;
			<button type="button" ng-click="cancelPassword()" class="btn btn-default ng-binding">取消</button>
		</div>
		<!-- </form> -->
	</div>

</div>