<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
	<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
		<i class="glyphicon glyphicon-cog"></i>
	</button>
	<button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
		<i class="glyphicon glyphicon-align-justify"></i>
	</button>
	<!-- brand -->
	<!-- 	<a href="#/">
	<i class="fa fa-btc"></i>
	<img src="img/logo.png" alt="." class="hide">
	<span class="hidden-folded m-l-xs">{{app.name}}</span>
	<div class="" style="height: 80px; background: #161733 url(img/zz_06.png) no-repeat center center;">
		
	</div>

	<div class="userPhoto" style="display: inline-block;">
		<img src="img/logo.png" alt="">
	</div>
	<div style="display: inline-block;">
		<h2>xdd</h2>
		<span>人才网:</span>管理员
	</div>
</a> -->

	<!--<div class='useLogo'>
		<div class="userPhoto">
			<img src="img/logo.png" alt="">
		</div>
		<div class="useNameDiv">
			<span class="useName">xdd</span></br>
			<span>您好:{{app.name}}</span>
		</div>
	</div>-->
	<!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<!-- <div class="collapse header-bar pos-rlt navbar-collapse {{app.settings.navbarCollapseColor}}">
	buttons
	<div class="nav navbar-nav hidden-xs">
		<h4 class="store-top-title">四川智造人才网</h4>
		<p class="store-top-a">www.sczzrcw.com</p>
	</div>

	nabar right
	<div class="nav navbar-nav navbar-right">
		<div class="top-nav clearfix">
			<div class="top-nav-li dropdown" dropdown>
				<a class="dropdown-toggle clear" dropdown-toggle>
					<img src="img/zz_01.png" />
					<span class="drop-down"></span>
				</a>
				<ul class="dropdown-menu animated fadeInRight w">
					<li ng-repeat="x in StoreInfo.ShopList">
						<a ng-click="changeShop(x)">
							{{x.ShopName}}
						</a>

					</li>
				</ul>
			</div>
			<div class="top-nav-li dropdown" dropdown>
				<a class="dropdown-toggle clear" dropdown-toggle>
					<img src="img/zz_02.png" />
					<span>消息</span>
					<span class="active"></span>
				</a>
				<ul class="dropdown-menu animated fadeInRight w">
				<li>
					<a ui-sref="app.PasswordModify">
						修改密码
					</a>
					<a ui-sref="app.PermissionSetting">
						<span class="label bg-info pull-right">new</span> 账号权限
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a ng-click="exitSystem()">退出</a>
				</li>
			</ul>
			</div>
			<div class="top-nav-li">
				<a><img src="img/zz_03.png" /></a>
			</div>
		</div>
		<li class="hidden-xs">
			<a ui-fullscreen></a>
		</li>
		<li class="hidden-xs my-caret" dropdown>
			<a href class="dropdown-toggle clear" dropdown-toggle title="点击切换店铺">
				<span class="hidden-sm hidden-md peple-color">{{ShopName}}</span> <b class="caret"></b>
			</a>
			{{ShopName}}

			dropdown 
			<ul class="dropdown-menu animated fadeInRight w">
				<li ng-repeat="x in StoreInfo.ShopList">
					<a ng-click="changeShop(x)">
						{{x.ShopName}}
					</a>

				</li>
			</ul>
			/ dropdown 
		</li>
		<li class="dropdown" dropdown>
			<a href class="dropdown-toggle clear" dropdown-toggle>
				<span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img ng-src="{{user.picture}}" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
				<span class="hidden-sm hidden-md peple-color">{{user.name}}</span> <b class="caret"></b>
			</a>
			dropdown 
			<ul class="dropdown-menu animated fadeInRight w">
				<li>
					<a ui-sref="app.PasswordModify">
						修改密码
					</a>
					<a ui-sref="app.PermissionSetting">
						<span class="label bg-info pull-right">new</span> 账号权限
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a ng-click="exitSystem()">退出</a>
				</li>
			</ul>
			/ dropdown 
		</li>
	</div>
	/ navbar right

</div> -->
<!-- / navbar collapse -->